label {
  font-size: 40px;
}

.holder {
  width: 80%;
  height: 100%;
  font-size: 30px;
}

form {
  margin-top: 200px;
}

.div_layout {
  margin: 100px 0;
}

button {
  width: 250px;
}

.btn-lg {

  font-size: 40px;
}
