<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/empolyer.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>

  <img src="/images/EmployerLogo.PNG" style="display: block;margin: 0 auto;" /><br><br>
  <div class="form-group row justify-content-center">
    <div class="col-lg-2">
      <ul class="list-group">
        <li>
          <button type="button" class="btn btn-primary" onclick="swithImgs(1,this)">Employee Login</button>
        </li>
        <br>
        <li>
          <button type="button" class="btn btn-primary" onclick="swithImgs(2,this)">Contact Us</button>
        </li>
        <br>
        <li>
          <button type="button" class="btn btn-primary" onclick="swithImgs(3,this)">Report issue</button>
        </li>
        <br>
      </ul>
    </div>
    <div class="col-lg-3 row" style="position: static;">
      <form action="" id="loginForm" style='float:left;'></form>
      <img src="" id="imgs" width='0' height='0' style='float:right;'>
    </div>


  </div>

  <script>
    function swithImgs(key, button) {
      button.class = "btn btn-success";
      var img = document.getElementById("imgs");
      img.width = '150';
      img.height = '150';
      if (key == 1) {
        img.src = "/images/login.png";
        img.width = '180';
        img.height = '180';
        document.getElementById("loginForm").innerHTML = "<b>Employee Name: <br> <input type=\"text\" placeholder=\"First name\" id=\'firstName\' required /> <br><input type=\"text\" placeholder=\"Last name\"  id=\'lastName\' required/> <br> Employee ID: <br><input type=\"text\" placeholder=\"Employee ID\"  id=\'employeeID\' required/> <br><button type=\"button\" class=\"btn btn-success\" onclick=\"login()\">Login</button>";
      } else if (key == 2) {
        img.src = "/images/contactUS.png";
        document.getElementById("loginForm").innerHTML = "<b>Content<br><textarea row=\"25\" cols=\"25\" style=\"resize:none;\"></textarea> <br> <button type=\"button\" class=\"btn btn-primary\">Submit</button>";
      } else {
        img.src = "/images/reportIssue.PNG";
        document.getElementById("loginForm").innerHTML = "<b>Content<br><textarea row=\"25\" cols=\"25\" style=\"resize:none;\"></textarea> <br> <button type=\"button\" class=\"btn btn-warning\">Report</button>";
      }
    }

    function login() {
      var firstName = document.getElementById('firstName').value;
      var lastName = document.getElementById('lastName').value;
      var employeeID = document.getElementById('employeeID').value;
      // send weight and heiget values to backend
      var httpRequest = new XMLHttpRequest();
      // httpRequest.open('POST', 'http://127.0.0.1:1337/something', true);
      // httpRequest.setRequestHeader('Content-Type', 'application/json');
      //callback function with BMI and suggestion
      httpRequest.onload = function () {
        var result = httpRequest.responseText;
        //jump to profile page
      }
      var message = "{\"firstName\":" + firstName + ",\"lastName\":" + lastName + ",\"employeeID\":" + employeeID + "}";
      //httpRequest.send(message);
      window.location.href ='/employee';
    }
  </script>

</body>

</html>