
    <link rel="stylesheet" type="text/css" href="/styles/index.css">  

    <div class="container  justify-content-center" style="text-align: center;">
        <div class="button_div container  justify-content-center" style="text-align: center;">
            <button id="mortgage"type="button" class="btn btn-success btn-lg display-6" width="30%">Mortgage Support</button>
        </div>

        <div class="button_div container  justify-content-center" style="text-align: center;">
            <button type="button" class="btn btn-success btn-lg" disabled>Medical Support</button>
        </div>

    </div>
    <script src="/js/index.js"></script>
