<div class="container text-center">
  <h1>Mortgage Application</h1>
</div>
<form class="justify-content-center">
  <div class="div_layout row  justify-content-center ">
    <label for="height" class="col-sm-3  text-center">Broker name</label>
    <div class="col-sm-5">
      <input type="text" id="address" class="place">
    </div>
  </div>
  <div class="div_layout row  justify-content-center ">
    <label for="weight" class="col-sm-3 text-center">Mortgage application number</label>
    <div class="col-sm-5 ">
      <input type="text" id="applicationID" class="place">
    </div>
  </div>
  <div class="form-check justify-content-center text-center">
    <input type="checkbox" name="agree" value="agree" id="agree"> Agree to send your employment information to the broker<br>
  </div>

  <div class="form-group row justify-content-center">
    <input type="button" class="btn btn-success" id="submit" value="Submit"></input>
  </div>
</form>
<script src="/js/mortgage.js"></script>
